In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [6]:
data = pd.read_csv("/Users/arsh/STAT-XAI/Datasets/Realworld/adult.csv")
data.head(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K

In [8]:
print(data.shape)

(48842, 15)

In [10]:
data.isin(['?']).sum()

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [12]:
data['workclass']=data['workclass'].replace('?',np.nan)
data['occupation']=data['occupation'].replace('?',np.nan)
data['native-country']=data['native-country'].replace('?',np.nan)

In [14]:
info = pd.DataFrame(data.isnull().sum(),columns=["IsNull"])
info.insert(1,"IsNa",data.isna().sum(),True)
info.insert(2,"Duplicate",data.duplicated().sum(),True)
info.insert(3,"Unique",data.nunique(),True)
info.insert(4,"Min",data.min(),True)
info.insert(5,"Max",data.max(),True)
info.T

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
IsNull,0,2799,0,0,0,0,2809,0,0,0,0,0,0,857,0
IsNa,0,2799,0,0,0,0,2809,0,0,0,0,0,0,857,0
Duplicate,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52
Unique,74,8,28523,16,16,7,14,6,5,2,123,99,96,41,2
Min,17,NaN,12285,10th,1,Divorced,NaN,Husband,Amer-Indian-Eskimo,Female,0,0,1,NaN,<=50K
Max,90,NaN,1490400,Some-college,16,Widowed,NaN,Wife,White,Male,99999,4356,99,NaN,>50K

In [16]:
df = data.copy()

In [18]:
df.dropna(how='any',inplace=True)
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [20]:
df = df.drop_duplicates()
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [22]:
df['education'].unique()

array(['11th', 'HS-grad', 'Assoc-acdm', 'Some-college', '10th',
       'Prof-school', '7th-8th', 'Bachelors', 'Masters', '5th-6th',
       'Assoc-voc', '9th', 'Doctorate', '12th', '1st-4th', 'Preschool'],
      dtype=object)

In [24]:
df['educational-num'].unique()

array([ 7,  9, 12, 10,  6, 15,  4, 13, 14,  3, 11,  5, 16,  8,  2,  1])

In [26]:
df1 = df.drop(['educational-num', 'capital-gain', 'capital-loss'], axis=1)

In [28]:
from sklearn import preprocessing

In [30]:
train_df, test_df = train_test_split(df1, test_size=0.2, random_state=123)
train_df.head()

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
27716,56,Federal-gov,155238,HS-grad,Married-civ-spouse,Adm-clerical,Husband,White,Male,40,United-States,>50K
34819,36,Private,123983,Bachelors,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,55,Japan,>50K
6791,63,Local-gov,197189,Bachelors,Widowed,Prof-specialty,Not-in-family,White,Female,48,United-States,<=50K
30798,43,Self-emp-not-inc,32451,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,<=50K
19250,27,Private,85625,Some-college,Never-married,Sales,Not-in-family,White,Male,20,United-States,<=50K

In [32]:
X_test_original = test_df.copy()

In [34]:
info = pd.DataFrame(X_test_original.isnull().sum(),columns=["IsNull"])
info.insert(1,"IsNa",X_test_original.isna().sum(),True)
info.insert(2,"Duplicate",X_test_original.duplicated().sum(),True)
info.insert(3,"Unique",X_test_original.nunique(),True)
info.insert(4,"Min",X_test_original.min(),True)
info.insert(5,"Max",X_test_original.max(),True)
info.T

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
IsNull,0,0,0,0,0,0,0,0,0,0,0,0
IsNa,0,0,0,0,0,0,0,0,0,0,0,0
Duplicate,0,0,0,0,0,0,0,0,0,0,0,0
Unique,71,7,7769,16,7,14,6,5,2,85,40,2
Min,17,Federal-gov,13769,10th,Divorced,Adm-clerical,Husband,Amer-Indian-Eskimo,Female,1,Cambodia,<=50K
Max,90,Without-pay,1490400,Some-college,Widowed,Transport-moving,Wife,White,Male,99,Yugoslavia,>50K

In [36]:
cat_cols = [
    'gender', 'workclass', 'education', 'marital-status',
    'occupation', 'relationship', 'race', 'native-country',
    'income'
]

# 3. Create a LabelEncoder per column, fit on train, transform both
encoders = {}
for col in cat_cols:
    le = LabelEncoder()
    # fit on train
    train_df[col] = le.fit_transform(train_df[col])
    # use same encoder to transform test
    test_df[col] = le.transform(test_df[col])
    encoders[col] = le  # if you need them later

In [38]:
info = pd.DataFrame(train_df.isnull().sum(),columns=["IsNull"])
info.insert(1,"IsNa",train_df.isna().sum(),True)
info.insert(2,"Duplicate",train_df.duplicated().sum(),True)
info.insert(3,"Unique",train_df.nunique(),True)
info.insert(4,"Min",train_df.min(),True)
info.insert(5,"Max",train_df.max(),True)
info.T

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
IsNull,0,0,0,0,0,0,0,0,0,0,0,0
IsNa,0,0,0,0,0,0,0,0,0,0,0,0
Duplicate,6,6,6,6,6,6,6,6,6,6,6,6
Unique,74,7,23051,16,7,14,6,5,2,95,41,2
Min,17,0,13492,0,0,0,0,0,0,1,0,0
Max,90,6,1484705,15,6,13,5,4,1,99,40,1

In [40]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras import layers, models, optimizers

In [41]:
target_col = 'income'
X_train = train_df.drop(columns=[target_col]).values
y_train = train_df[target_col].values
X_test  = test_df.drop(columns=[target_col]).values
y_test  = test_df[target_col].values

In [42]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test  = scaler.transform(X_test)

In [46]:
n_features = X_train.shape[1]
# for sequence models reshape to (samples, timesteps, 1)
X_train_seq = X_train.reshape(-1, n_features, 1)
X_test_seq  = X_test.reshape(-1, n_features, 1)

In [48]:
mlp_bin = models.Sequential([
    layers.Input(shape=(n_features,)),
    layers.Dense(64, activation='relu'),
    layers.Dense(32, activation='relu'),
    layers.Dense(1, activation='sigmoid')     # single‑unit sigmoid
])
mlp_bin.compile(
    loss='binary_crossentropy',               # for single‑sigmoid
    optimizer=optimizers.Adam(1e-3),
    metrics=['accuracy']
)

In [50]:
mlp_bin.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.1)

Epoch 1/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 1s 340us/step - accuracy: 0.7500 - loss: 0.4793 - val_accuracy: 0.7950 - val_loss: 0.4115
Epoch 2/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.7998 - loss: 0.4024 - val_accuracy: 0.7955 - val_loss: 0.4070
Epoch 3/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 296us/step - accuracy: 0.8078 - loss: 0.3889 - val_accuracy: 0.7988 - val_loss: 0.4057
Epoch 4/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.8140 - loss: 0.3829 - val_accuracy: 0.8074 - val_loss: 0.3981
Epoch 5/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 355us/step - accuracy: 0.8123 - loss: 0.3846 - val_accuracy: 0.8171 - val_loss: 0.3926
Epoch 6/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 295us/step - accuracy: 0.8134 - loss: 0.3826 - val_accuracy: 0.8094 - val_loss: 0.3945
Epoch 7/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.8196 - loss: 0.3758 - val_accuracy: 0.8199 - val_loss: 0.3905
Epoch 8/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.8230 - loss: 0.3698 - val_accuracy: 0.8185 - val_loss: 0.3919
Epoch 9/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.8196 - loss: 0.3703 - val_accuracy: 0.8174 - val_loss: 0.3871
Epoch 10/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.8211 - loss: 0.3697 - val_accuracy: 0.8168 - val_loss: 0.3861
Epoch 11/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.8210 - loss: 0.3709 - val_accuracy: 0.8221 - val_loss: 0.3834
Epoch 12/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8265 - loss: 0.3659 - val_accuracy: 0.8188 - val_loss: 0.3836
Epoch 13/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.8224 - loss: 0.3649 - val_accuracy: 0.8135 - val_loss: 0.3963
Epoch 14/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.8272 - loss: 0.3610 - val_accuracy: 0.8190 - val_loss: 0.3842
Epoch 15/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.8234 - loss: 0.3627 - val_accuracy: 0.8193 - val_loss: 0.3852
Epoch 16/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 301us/step - accuracy: 0.8285 - loss: 0.3571 - val_accuracy: 0.8201 - val_loss: 0.3846
Epoch 17/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 301us/step - accuracy: 0.8259 - loss: 0.3566 - val_accuracy: 0.8226 - val_loss: 0.3814
Epoch 18/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.8285 - loss: 0.3592 - val_accuracy: 0.8201 - val_loss: 0.3807
Epoch 19/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - accuracy: 0.8294 - loss: 0.3553 - val_accuracy: 0.8201 - val_loss: 0.3830
Epoch 20/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.8316 - loss: 0.3534 - val_accuracy: 0.8226 - val_loss: 0.3797
Epoch 21/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8282 - loss: 0.3536 - val_accuracy: 0.8207 - val_loss: 0.3790
Epoch 22/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.8305 - loss: 0.3529 - val_accuracy: 0.8240 - val_loss: 0.3785
Epoch 23/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.8361 - loss: 0.3480 - val_accuracy: 0.8246 - val_loss: 0.3788
Epoch 24/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.8309 - loss: 0.3512 - val_accuracy: 0.8248 - val_loss: 0.3781
Epoch 25/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.8330 - loss: 0.3534 - val_accuracy: 0.8190 - val_loss: 0.3827
Epoch 26/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.8295 - loss: 0.3502 - val_accuracy: 0.8218 - val_loss: 0.3813
Epoch 27/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.8385 - loss: 0.3417 - val_accuracy: 0.8204 - val_loss: 0.3807
Epoch 28/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8339 - loss: 0.3431 - val_accuracy: 0.8224 - val_loss: 0.3771
Epoch 29/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.8366 - loss: 0.3405 - val_accuracy: 0.8262 - val_loss: 0.3810
Epoch 30/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.8358 - loss: 0.3443 - val_accuracy: 0.8196 - val_loss: 0.3782
Epoch 31/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.8348 - loss: 0.3461 - val_accuracy: 0.8218 - val_loss: 0.3788
Epoch 32/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8354 - loss: 0.3446 - val_accuracy: 0.8229 - val_loss: 0.3778
Epoch 33/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8375 - loss: 0.3411 - val_accuracy: 0.8235 - val_loss: 0.3753
Epoch 34/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 313us/step - accuracy: 0.8341 - loss: 0.3466 - val_accuracy: 0.8248 - val_loss: 0.3744
Epoch 35/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - accuracy: 0.8360 - loss: 0.3420 - val_accuracy: 0.8246 - val_loss: 0.3769
Epoch 36/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.8375 - loss: 0.3383 - val_accuracy: 0.8243 - val_loss: 0.3784
Epoch 37/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 305us/step - accuracy: 0.8358 - loss: 0.3420 - val_accuracy: 0.8193 - val_loss: 0.3825
Epoch 38/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.8382 - loss: 0.3399 - val_accuracy: 0.8215 - val_loss: 0.3817
Epoch 39/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 305us/step - accuracy: 0.8352 - loss: 0.3418 - val_accuracy: 0.8196 - val_loss: 0.3853
Epoch 40/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.8390 - loss: 0.3397 - val_accuracy: 0.8237 - val_loss: 0.3757
Epoch 41/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.8360 - loss: 0.3425 - val_accuracy: 0.8226 - val_loss: 0.3744
Epoch 42/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.8331 - loss: 0.3446 - val_accuracy: 0.8204 - val_loss: 0.3834
Epoch 43/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.8371 - loss: 0.3387 - val_accuracy: 0.8282 - val_loss: 0.3800
Epoch 44/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.8396 - loss: 0.3384 - val_accuracy: 0.8276 - val_loss: 0.3765
Epoch 45/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 313us/step - accuracy: 0.8443 - loss: 0.3336 - val_accuracy: 0.8248 - val_loss: 0.3829
Epoch 46/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.8422 - loss: 0.3329 - val_accuracy: 0.8221 - val_loss: 0.3848
Epoch 47/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 305us/step - accuracy: 0.8427 - loss: 0.3371 - val_accuracy: 0.8218 - val_loss: 0.3742
Epoch 48/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - accuracy: 0.8378 - loss: 0.3416 - val_accuracy: 0.8251 - val_loss: 0.3762
Epoch 49/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.8406 - loss: 0.3355 - val_accuracy: 0.8185 - val_loss: 0.3837
Epoch 50/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.8429 - loss: 0.3332 - val_accuracy: 0.8251 - val_loss: 0.3794
Epoch 51/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 305us/step - accuracy: 0.8412 - loss: 0.3335 - val_accuracy: 0.8262 - val_loss: 0.3790
Epoch 52/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8387 - loss: 0.3364 - val_accuracy: 0.8221 - val_loss: 0.3842
Epoch 53/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.8438 - loss: 0.3247 - val_accuracy: 0.8215 - val_loss: 0.3818
Epoch 54/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.8441 - loss: 0.3287 - val_accuracy: 0.8237 - val_loss: 0.3768
Epoch 55/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.8434 - loss: 0.3283 - val_accuracy: 0.8229 - val_loss: 0.3853
Epoch 56/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.8403 - loss: 0.3337 - val_accuracy: 0.8243 - val_loss: 0.3793
Epoch 57/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.8475 - loss: 0.3232 - val_accuracy: 0.8204 - val_loss: 0.3778
Epoch 58/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 315us/step - accuracy: 0.8430 - loss: 0.3268 - val_accuracy: 0.8257 - val_loss: 0.3768
Epoch 59/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.8414 - loss: 0.3303 - val_accuracy: 0.8237 - val_loss: 0.3763
Epoch 60/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.8442 - loss: 0.3293 - val_accuracy: 0.8177 - val_loss: 0.3803
Epoch 61/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.8449 - loss: 0.3292 - val_accuracy: 0.8188 - val_loss: 0.3828
Epoch 62/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.8450 - loss: 0.3304 - val_accuracy: 0.8232 - val_loss: 0.3776
Epoch 63/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8439 - loss: 0.3291 - val_accuracy: 0.8182 - val_loss: 0.3824
Epoch 64/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.8435 - loss: 0.3303 - val_accuracy: 0.8224 - val_loss: 0.3785
Epoch 65/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8438 - loss: 0.3294 - val_accuracy: 0.8141 - val_loss: 0.3885
Epoch 66/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8440 - loss: 0.3280 - val_accuracy: 0.8229 - val_loss: 0.3799
Epoch 67/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.8437 - loss: 0.3310 - val_accuracy: 0.8232 - val_loss: 0.3802
Epoch 68/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.8420 - loss: 0.3302 - val_accuracy: 0.8251 - val_loss: 0.3784
Epoch 69/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8472 - loss: 0.3254 - val_accuracy: 0.8213 - val_loss: 0.3820
Epoch 70/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.8449 - loss: 0.3270 - val_accuracy: 0.8232 - val_loss: 0.3833
Epoch 71/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.8419 - loss: 0.3282 - val_accuracy: 0.8204 - val_loss: 0.3813
Epoch 72/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8436 - loss: 0.3305 - val_accuracy: 0.8218 - val_loss: 0.3826
Epoch 73/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 312us/step - accuracy: 0.8453 - loss: 0.3290 - val_accuracy: 0.8235 - val_loss: 0.3790
Epoch 74/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 305us/step - accuracy: 0.8432 - loss: 0.3272 - val_accuracy: 0.8232 - val_loss: 0.3807
Epoch 75/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.8465 - loss: 0.3218 - val_accuracy: 0.8190 - val_loss: 0.3955
Epoch 76/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.8448 - loss: 0.3281 - val_accuracy: 0.8204 - val_loss: 0.3844
Epoch 77/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.8424 - loss: 0.3277 - val_accuracy: 0.8237 - val_loss: 0.3877
Epoch 78/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 305us/step - accuracy: 0.8452 - loss: 0.3243 - val_accuracy: 0.8282 - val_loss: 0.3882
Epoch 79/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8451 - loss: 0.3236 - val_accuracy: 0.8232 - val_loss: 0.3871
Epoch 80/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.8453 - loss: 0.3253 - val_accuracy: 0.8224 - val_loss: 0.3824
Epoch 81/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8475 - loss: 0.3224 - val_accuracy: 0.8204 - val_loss: 0.3874
Epoch 82/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8455 - loss: 0.3255 - val_accuracy: 0.8226 - val_loss: 0.3833
Epoch 83/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8500 - loss: 0.3194 - val_accuracy: 0.8179 - val_loss: 0.3875
Epoch 84/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8428 - loss: 0.3281 - val_accuracy: 0.8193 - val_loss: 0.3920
Epoch 85/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8462 - loss: 0.3242 - val_accuracy: 0.8224 - val_loss: 0.3848
Epoch 86/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8461 - loss: 0.3213 - val_accuracy: 0.8243 - val_loss: 0.3877
Epoch 87/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.8451 - loss: 0.3240 - val_accuracy: 0.8135 - val_loss: 0.3902
Epoch 88/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.8495 - loss: 0.3198 - val_accuracy: 0.8196 - val_loss: 0.3860
Epoch 89/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.8482 - loss: 0.3213 - val_accuracy: 0.8196 - val_loss: 0.3882
Epoch 90/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.8483 - loss: 0.3215 - val_accuracy: 0.8207 - val_loss: 0.3871
Epoch 91/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.8510 - loss: 0.3176 - val_accuracy: 0.8196 - val_loss: 0.3847
Epoch 92/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.8480 - loss: 0.3219 - val_accuracy: 0.8149 - val_loss: 0.3927
Epoch 93/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.8460 - loss: 0.3213 - val_accuracy: 0.8229 - val_loss: 0.3861
Epoch 94/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.8480 - loss: 0.3196 - val_accuracy: 0.8188 - val_loss: 0.3889
Epoch 95/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.8489 - loss: 0.3177 - val_accuracy: 0.8143 - val_loss: 0.3889
Epoch 96/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.8464 - loss: 0.3198 - val_accuracy: 0.8201 - val_loss: 0.3887
Epoch 97/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 368us/step - accuracy: 0.8472 - loss: 0.3239 - val_accuracy: 0.8237 - val_loss: 0.3894
Epoch 98/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.8456 - loss: 0.3224 - val_accuracy: 0.8199 - val_loss: 0.3933
Epoch 99/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.8431 - loss: 0.3230 - val_accuracy: 0.8240 - val_loss: 0.3855
Epoch 100/100
1017/1017 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.8450 - loss: 0.3227 - val_accuracy: 0.8199 - val_loss: 0.3927

In [52]:
y_pred_probs = mlp_bin.predict(X_test).flatten()
y_pred_labels = (y_pred_probs > 0.5).astype(int)

283/283 ━━━━━━━━━━━━━━━━━━━━ 0s 207us/step

In [54]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred_labels)
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 0.8203

In [58]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
print("\nClassification Report:\n", classification_report(y_test, y_pred_labels))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred_labels))

Classification Report:
               precision    recall  f1-score   support

           0       0.86      0.91      0.88      6806
           1       0.67      0.53      0.59      2229

    accuracy                           0.82      9035
   macro avg       0.76      0.72      0.74      9035
weighted avg       0.81      0.82      0.81      9035


Confusion Matrix:
 [[6219  587]
 [1037 1192]]

In [57]:
predictions_df = pd.DataFrame({'Predicted_Label': y_pred_labels})

In [59]:
merged_df = pd.concat([X_test_original.reset_index(drop=True), predictions_df.reset_index(drop=True)], axis=1)

In [61]:
merged_df

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income,Predicted_Label
0,18,Private,336508,11th,Never-married,Adm-clerical,Own-child,White,Female,15,United-States,<=50K,0
1,41,Local-gov,168071,HS-grad,Divorced,Exec-managerial,Own-child,White,Male,45,United-States,<=50K,0
2,32,Private,317378,Bachelors,Never-married,Exec-managerial,Own-child,White,Female,40,United-States,>50K,0
3,59,Federal-gov,178660,Assoc-acdm,Married-civ-spouse,Adm-clerical,Husband,White,Male,40,United-States,<=50K,0
4,27,Private,23940,HS-grad,Never-married,Handlers-cleaners,Other-relative,Amer-Indian-Eskimo,Male,40,United-States,<=50K,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9030,40,Private,61287,Some-college,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,<=50K,0
9031,29,Private,176027,Bachelors,Never-married,Prof-specialty,Not-in-family,White,Female,40,United-States,<=50K,0
9032,23,Private,199452,Some-college,Never-married,Other-service,Own-child,White,Female,40,United-States,<=50K,0
9033,20,Self-emp-inc,182200,HS-grad,Never-married,Machine-op-inspct,Own-child,White,Female,30,United-States,<=50K,0
9034,36,State-gov,747719,Prof-school,Married-civ-spouse,Prof-specialty,Wife,White,Female,50,United-States,>50K,1

In [63]:
merged_df.drop('income', axis=1, inplace=True)

In [65]:
merged_df.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
marital-status     object
occupation         object
relationship       object
race               object
gender             object
hours-per-week      int64
native-country     object
Predicted_Label     int64
dtype: object

In [87]:
merged_df = merged_df.rename(columns={'hours-per-week':'hours_per_week'})

In [171]:
merged_df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'marital-status',
       'occupation', 'relationship', 'race', 'gender', 'hours_per_week',
       'native-country', 'Predicted_Label'],
      dtype='object')

In [206]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import pointbiserialr, chi2_contingency

In [208]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [210]:
# categorical_features = ["workclass", "education", "marital-status","occupation","relationship","race","gender","native-country"]
# target = "Predicted_Label"

In [212]:
# numeric_features = [c for c in merged_df.columns 
#     if c not in categorical_features and c != target]

In [91]:
numeric_features = ['age', 'fnlwgt', 'hours_per_week']
categorical_features = ["workclass", "education", "marital-status","occupation","relationship","race","gender","native-country"]
target = 'Predicted_Label'
alpha = 0.05

In [226]:
import pandas as pd
import numpy as np
from scipy.stats import pointbiserialr, chi2_contingency
from sklearn.impute import SimpleImputer

# === 1) Main‐effect ranking only ===
def compute_main_importance(df, numeric_features, categorical_features, target, alpha=0.05):
    df = df.copy()
    for c in categorical_features:
        df[c] = df[c].astype('category')
    def cramers_v(tbl):
        chi2_stat = chi2_contingency(tbl, correction=False)[0]
        n = tbl.values.sum()
        r, k = tbl.shape
        return np.sqrt(chi2_stat / (n * (min(r, k) - 1)))
    rows = []
    # Numeric: point-biserial
    for feat in numeric_features:
        r, p = pointbiserialr(df[feat], df[target])
        eff = abs(r) if p < alpha else 0.0
        rows.append({'Feature': feat, 'p_value': round(p,4), 'Effect': round(eff,4)})
    # Categorical: χ² + Cramér’s V
    for feat in categorical_features:
        tbl = pd.crosstab(df[feat], df[target])
        _, p, _, _ = chi2_contingency(tbl, correction=False)
        eff = cramers_v(tbl) if p < alpha else 0.0
        rows.append({'Feature': feat, 'p_value': round(p,4), 'Effect': round(eff,4)})
    return pd.DataFrame(rows).sort_values('Effect', ascending=False).reset_index(drop=True)

# === 2) Perturbation with Gaussian noise + categorical mis‐labelling ===
def perturb_with_noise(df, numeric_features, categorical_features, 
                       gaussian_frac=0.01, cat_noise_frac=0.05):
    pert = df.copy()
    # Gaussian noise on numerics
    for c in numeric_features:
        sigma = gaussian_frac * pert[c].std()
        pert[c] += np.random.normal(0, sigma, size=len(pert))
    # Mis-label a fraction of categoricals
    for c in categorical_features:
        mask = np.random.rand(len(pert)) < cat_noise_frac
        if mask.any():
            levels = pert[c].dropna().unique()
            pert.loc[mask, c] = np.random.choice(levels, size=mask.sum())
    return pert

# === 3) Single‐run Jaccard@Top-5  ===
def compute_single_jaccard_top5_noise(df, numeric_features, categorical_features,
                                      target, alpha=0.05,
                                      gaussian_frac=0.01, cat_noise_frac=0.05):
    orig = compute_main_importance(df, numeric_features, categorical_features, target, alpha)['Feature'][:5].tolist()
    pert = perturb_with_noise(df, numeric_features, categorical_features, gaussian_frac, cat_noise_frac)
    new = compute_main_importance(pert, numeric_features, categorical_features, target, alpha)['Feature'][:5].tolist()
    overlap = len(set(orig) & set(new))
    union   = len(set(orig) | set(new))
    jaccard = overlap / union if union else 0.0
    return jaccard, orig, new

# === 4) Average Jaccard@Top-5 over N runs (noise-only) ===
def evaluate_jaccard_topk_noise(df, numeric_features, categorical_features, target,
                                n_runs=50, top_k=5, alpha=0.05,
                                gaussian_frac=0.01, cat_noise_frac=0.05):
    orig = compute_main_importance(df, numeric_features, categorical_features, target, alpha)['Feature'][:top_k].tolist()
    orig_set = set(orig)
    scores = []
    for _ in range(n_runs):
        pert = perturb_with_noise(df, numeric_features, categorical_features, gaussian_frac, cat_noise_frac)
        new = compute_main_importance(pert, numeric_features, categorical_features, target, alpha)['Feature'][:top_k].tolist()
        scores.append(len(orig_set & set(new)) / len(orig_set | set(new)) if orig_set else 0.0)
    return {
        f'avg_jaccard_top_{top_k}': np.mean(scores),
        f'std_jaccard_top_{top_k}': np.std(scores)
    }


# Single-run Jaccard@5
j, orig5, new5 = compute_single_jaccard_top5_noise(
    merged_df, numeric_features, categorical_features, target, alpha,
    gaussian_frac=0.01, cat_noise_frac=0.05
)
print("Original Top-5:", orig5)
print("Noisy Top-5:   ", new5)
print(f"Jaccard@Top-5 (single run) = {j:.2f}")

# Average over 50 runs
stability = evaluate_jaccard_topk_noise(
    merged_df, numeric_features, categorical_features, target,
    n_runs=50, top_k=5, alpha=alpha,
    gaussian_frac=0.01, cat_noise_frac=0.05
)
print("\nNoise-only stability:", stability)

Original Top-5: ['relationship', 'marital-status', 'education', 'occupation', 'age']
Noisy Top-5:    ['relationship', 'marital-status', 'education', 'occupation', 'age']
Jaccard@Top-5 (single run) = 1.00

Noise-only stability: {'avg_jaccard_top_5': 1.0, 'std_jaccard_top_5': 0.0}

In [228]:
import os
save_dir = r"/Users/arsh/real_STAT"          


os.makedirs(save_dir, exist_ok=True)


filename = "MLP_Adult.jpg"
output_path = os.path.join(save_dir, filename)